Workflow/Image2Sheet.json
{
  "name": "Image2Sheet (Text Extractor)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR-WEBHOOK-PATH-HERE",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "webhook-node-id",
      "name": "Webhook",
      "webhookId": "YOUR-WEBHOOK-ID-HERE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-id-1",
              "name": "originalImageUrl",
              "value": "={{ $json.body.imageUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "prepare-image-node-id",
      "name": "Prepare Image Data"
    },
    {
      "parameters": {
        "url": "={{ $json.originalImageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "imageFile"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "download-image-node-id",
      "name": "Download Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment-id-2",
              "name": "extractedText",
              "value": "={{ $json.ParsedResults && $json.ParsedResults[0] ? $json.ParsedResults[0].ParsedText.trim() : 'No text found' }}",
              "type": "string"
            },
            {
              "id": "assignment-id-3",
              "name": "ocrSuccess",
              "value": "={{ $json.OCRExitCode === 1 ? 'Success' : 'Failed' }}",
              "type": "string"
            },
            {
              "id": "assignment-id-4",
              "name": "imageUrl",
              "value": "={{ $('Prepare Image Data').item.json.originalImageUrl }}",
              "type": "string"
            },
            {
              "id": "assignment-id-5",
              "name": "timestamp",
              "value": "={{ new Date().toLocaleString() }}",
              "type": "string"
            },
            {
              "id": "assignment-id-6",
              "name": "processId",
              "value": "={{ Math.random().toString(36).substr(2, 9) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "process-text-node-id",
      "name": "Process Extracted Text"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR-GOOGLE-SHEETS-URL-HERE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "YOUR-GOOGLE-SHEETS-URL-HERE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Process ID": "={{ $json.processId }}",
            "Image URL": "={{ $json.imageUrl }}",
            "Extracted Text": "={{ $json.extractedText }}",
            "OCR Status": "={{ $json.ocrSuccess }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Process ID",
              "displayName": "Process ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Extracted Text",
              "displayName": "Extracted Text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OCR Status",
              "displayName": "OCR Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        0
      ],
      "id": "save-sheets-node-id",
      "name": "Save to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR-GOOGLE-CREDENTIALS-ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "helloworld"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "imageFile"
            },
            {
              "name": "filetype",
              "value": "PNG"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "ocr-extraction-node-id",
      "name": "OCR Text Extraction"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Data": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "OCR Text Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Extracted Text": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheets": {
      "main": [
        []
      ]
    },
    "OCR Text Extraction": {
      "main": [
        [
          {
            "node": "Process Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "template-version-id",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR-INSTANCE-ID-HERE"
  },
  "id": "YOUR-WORKFLOW-ID-HERE",
  "tags": []
}